/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f1f1f; /* Темный фон для хедера */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.header .logo {
  font-size: 2rem; /* Увеличиваем размер шрифта для лого */
  font-weight: bold;
  color: #ff9900; /* Оранжевый текст для лого */
  text-decoration: none;
}

.header .navbar {
  display: flex;
}

.header .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav-item {
  margin-left: 30px;
}

.header .nav-link {
  text-decoration: none;
  color: #ffffff; /* Белый текст для ссылок */
  font-size: 1.2rem; /* Увеличиваем размер шрифта для ссылок */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header .nav-link:hover {
  background-color: #ff9900; /* Оранжевый фон при наведении */
  color: #000000; /* Черный текст при наведении */
}

.header .active-nav-link {
  background-color: #333333; /* Темно-серый фон для активных ссылок */
}


/* Стиль кнопки "Log out" */
.logout-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ff9900;
  color: black;
}

.logout-button:hover {
  background-color: black;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* Стиль кнопки "Sign in" */
.signin-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ff9900;
  color: black;
  text-decoration: none;
}

.signin-button:hover {
  background-color: black;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* Иконка в кнопке */
.button-icon {
  margin-left: 0.5rem; /* Отступ между текстом и иконкой */
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
}
